{% extends 'base.html' %}
{% load static %}
{% block title %}Home|Dostana{% endblock %}

{% block description %}This is the homepage of Dostana{% endblock %}

{% block keywords %}photos, chat, fans, stars, Dostana{% endblock %}


<!-- Example usage -->

{% block content %}
    {% load custom_tags %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1646502426945071"
     crossorigin="anonymous"></script>


    {% if not user.is_authenticated %}
       <div class="welcome-message" style="text-align: center; background-color: #4CAF50; color: white; padding: 20px;">
    <h2 style="font-size: 28px;">🌟 Welcome! 🌟</h2>
    <p style="font-size: 18px; line-height: 1.5;">
        Feel free to surf our website. If you like our website, kindly click on the signup button and create an account to connect with amazing people of Pakistan and start posting.
    </p>
   
    
    
</div>

    {% endif %}

<div class="container" style="text-align: center; background-color: #f0f0f0; padding: 10px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); white-space: nowrap; overflow-x: auto;">

    <a href="https://www.0.freebasics.com/https/www.dostana.biz/?iorg_service_id_internal=498709407249161%3BAfr6lF_-ovGHC_bH" style="text-decoration: none; color: #fff; display: inline-block; margin-right: 20px; background-color: #00a4e4; border-radius: 5px; padding: 5px 10px; transition: background-color 0.3s; width: auto;">
        <img src="https://dostana.biz/media/menuicons/freebasics.png" alt="Use Dostana on Free Basics" width="24" height="24" style="vertical-align: middle;">
        <span style="font-size: 14px; margin: 0 5px; vertical-align: middle;">Use on Free Basics</span>
    </a>

    <a href="https://dostana.biz/" style="text-decoration: none; color: #fff; display: inline-block; margin-right: 20px; background-color: #ff6c00; border-radius: 5px; padding: 5px 10px; transition: background-color 0.3s; width: auto;">
        <img src="https://dostana.biz/media/menuicons/data.png" alt="Use Dostana on Package" width="24" height="24" style="vertical-align: middle;">
        <span style="font-size: 14px; margin: 0 5px; vertical-align: middle;">Use on Package</span>
    </a>

</div>





    <div class="container" align="center">
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">


</div>


    </div>
    






<div class="container text-center">
    <div class="btn-group" role="group" aria-label="Post Types">
        <a href="{% url 'text_posts' %}" class="btn btn-primary" style="background-color: #3498db; border-color: #3498db;">
            📝 Text Posts
        </a>
        <a href="{% url 'picture_posts' %}" class="btn btn-success" style="background-color: #2ecc71; border-color: #2ecc71;">
            🖼️ Picture Posts
        </a>
        <a href="{% url 'video_posts' %}" class="btn btn-warning" style="background-color: #f1c40f; border-color: #f1c40f;">
            📹 Video Posts
        </a>
    </div>
</div>



   {% for post in latest_posts %}
  <div class="post">
      <div class="post-header" style="word-break: break-word;">
       <a href="{% url 'profile' username=post.user.username %}" style="word-break: break-word; display: flex; flex-direction: row; align-items: center; text-decoration: none; color:white; border-radius: 5px; margin-bottom: 5px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">
           
                {% if post.user.userprofile.profile_pic %}
                  <img src="{{ post.user.userprofile.profile_pic.url }}" alt="Profile Picture" width="32" height="32" style="border-radius: 50%; margin-right: 10px; border: 2px solid #3498db; box-shadow: 0px 0px 5px 0px #3498db;">


                {% endif %}
            <h3 style="color: white; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">{{ post.user|user_info|safe}}</h3>




            </a>
           <p style="color: white; font-size: 14px; font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">{{ post.created_at|timesince }} ago</p>



        </div>
          <hr>
        <div class="post-content">
        <h5 style="color: white; font-size: 1.2em; line-height: 1.5; font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">
    {% if post.content|length > 300 %}
        {{ post.content|slice:":300" }}...
        <a href="{% url 'post_detail' post.id %}">Read more</a> <b style="color:red;">Read more button dbaye puri post prhne kailiye..</b>
    {% else %}
        {{ post.content|safe }}
    {% endif %}
</h5>






        </div>
        {% if post.picture %}
  <div class="post-image" style="text-align: center; margin-top: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
    <img src="{{ post.picture.url }}" alt="{{ post.content }}" style="max-width: 100%; height: auto; border-radius: 10px;">
</div>


    {% endif %}

{% if post.video %}
<div class="post-video" style="text-align: center; margin-top: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
    <video controls width="100%" height="auto" style="border-radius: 10px;">
        <source src="{{ post.video }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>


{% endif %}

{% if post.liked_by.count == 0 %}
            <p style="color:white">Is post kailiye ab tak kisi ne taliyaan nahi bajai.</p>
        {% else %}
            <p style="color:white;"><a style="color:green; background-color:white;" href="{% url 'liked_users' post.id %}">  <img src="https://dostana.biz/media/clapslap/clap.png" alt="️clap" style="width:28px; height:28px;">Taliyaan {{ post.liked_by.count }}</a>Apki post kailiye kis kis ne Taliyaan bajai dekhne kailiye chote Taliyaan ke button pe ungli dbaye aik Taliyaan se points +10 hote he</p>
        {% endif %}

        {% if post.disliked_by.count == 0 %}
            <p style="color:white;">Is post par abhi tk kisi ne bhi chupair nahi mari</p>
        {% else %}
            <p style="color:white;" ><a style="color:red; background-color:white;" href="{% url 'disliked_users' post.id %}"><img src="https://dostana.biz/media/clapslap/slap.png"  alt="️clap" style="width:28px; height:28px;">chupair {{ post.disliked_by.count }}</a>Chupair Kisne mari dekhne kailiye chupair ke chote tasveer pe ungli dbaay aik chupair se score -1 hota he</p>
        {% endif %}


<div style="display: flex; align-items: center; margin-right: 10px;">
       {% if user != post.user and user not in post.liked_by.all and user not in post.disliked_by.all %}
        {% if not post.disable_taliyaan %}
            <a style="text-decoration: none; color: green;" href="{% url 'like_post' post_id=post.id %}">
                <div class="action-box" style="display: flex; height:auto; flex-direction: column; align-items: center; text-align: center; width: auto; padding: 20px; border: 1px solid white; border-radius: 5px; margin-right: 10px; background-color:#3498db; box-shadow: 0px 0px 5px 0px #f5f5dc;">
                    <img src="https://dostana.biz/media/clapslap/clap.png" alt="Taliyaan" style="width: 48px; height: 48px;">
                    <span style="font-weight: bold; font-size: 14px; color: green; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">Taliyaan</span>
                </div>
            </a>
        {% endif %}
    {% endif %}
     {% if user != post.user and user not in post.liked_by.all and user not in post.disliked_by.all %}
      {% if not post.disable_chupair %}
        <a style="text-decoration: none; color: red;" href="{% url 'dislike_post' post_id=post.id %}">
            <div class="action-box" style="display: flex; flex-direction: column; align-items: center; text-align: center; width: auto; height:auto; padding: 20px; border: 1px solid white; border-radius: 5px; margin-right: 10px; background-color:#3498db; box-shadow: 0px 0px 5px 0px #f5f5dc;">
                <img src="https://dostana.biz/media/clapslap/slap.png" alt="Chupair" style="width: 48px; height: 48px;">
                <span style="font-weight: bold; font-size: 14px; color: red; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">Chupair</span>
            </div>
        </a>
    {% endif %}
    {% endif %}
</div>


<div class="reply-box" style="padding: 5px; background-color:#3498db; text-align: center;">
    {% if post.replies_allowed %}
    <a href="{% url 'post_detail' post_id=post.id %}" style="text-decoration: none; color:white;">
        <img src="https://dostana.biz/media/clapslap/jawabdo.png" alt="️jawabdo" style="width: 48px; height: 48px;">
        <span class="reply-text" style="font-weight: bold; font-size: 14px;">Jawab Do</span>
    </a>
    {% endif %}
</div>


<div class="total-replies" style="text-align: center;  background-color:#3498db;">
    <img src="https://dostana.biz/media/clapslap/jawabdo.png" alt="️jawabdo" style="width: 28px; height: 28px;">
    <span class="total-replies-text" style="font-weight: bold; font-size: 14px; color:white;">
   <span class="total-replies-text"> <h3>{{ post.replies.count }}</h3> <b> Jawab diye gaye</b></span>

        
    </span>
</div>


<!-- Add this code to your profile template or another appropriate location -->




        </div>
        <br>
    </div>
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}
</div>


    <style>
   p {
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}



.current-page {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Action Box Styles */
.action-box {
    display: inline-block;
    text-align: center;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f5f5dc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.action-box a {
    display: block;
    text-decoration: none;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Reply Box Styles */
.reply-box {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f5f5dc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.reply-box a {
    text-decoration: none;
    color:white;
    margin-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
    background-color:#3498db;
}

.total-replies {
    display: inline-block;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2px 5px;
     background-color:#3498db;
    color: white;
    margin-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.total-replies-text {
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color:#3498db;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Post Styles */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post {
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: #3498db;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-content {
    margin-top: 10px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-image img {
    max-width: 100%;
    height: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post + .post {
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-reply {
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Reply Link Styles */
.reply-link {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Total Replies Styles */
.total-replies {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

</style>

{% endblock %}
