
{% extends 'base.html' %}




{% block title %}Rules|Dostana{% endblock %}

{% block description %}Read dostana rules{% endblock %}

{% block keywords %}rules, rulesdostana, rulesdostana.biz{% endblock %}


{% block content %}
{% block navbar %}
{% endblock %}

<div class="container" align="center" style="padding: 20px;">
    <div style="width: auto; margin: 0 auto;">
      <div style="font-size: 14px; line-height: 1.6;">
        <h5 style="text-align: center;">Rules</h5>
        <p><strong>1. Be Kind and Respectful</strong> 🤝</p>
        <p>Always treat others with kindness and respect. Do not engage in bullying, harassment, or hate speech. Let's create a positive and inclusive community!</p>
        <p><strong>2. No Spam or Self-Promotion</strong> 🚫📢</p>
        <p>Avoid posting excessive self-promotional content or spam. Share valuable and relevant content that contributes to the community.</p>
        <p><strong>3. Respect Privacy</strong> 🔒</p>
        <p>Respect the privacy of others. Do not share personal information or private conversations without consent. Let's create a safe and trustworthy environment.</p>
        <p><strong>4. No Inappropriate Content</strong> 🚫🔞</p>
        <p>Do not post or share explicit, violent, or offensive content. Keep the platform family-friendly and suitable for users of all ages.</p>
        <p><strong>5. Report Violations</strong> 🚨</p>
        <p>If you come across any violations of the rules or encounter inappropriate behavior, report it to us immediately. Together, we can maintain a positive community.</p>
        <p><strong>6. Comply with Laws</strong> ⚖️</p>
        <p>Abide by all applicable laws and regulations while using Dostana. Do not engage in any activities that are illegal or violate intellectual property rights.</p>
        <p><strong>7. Be a Responsible User</strong> 👤</p>
        <p>Take responsibility for your actions and contributions. Be mindful of the impact of your words and behavior on the community. Let's create a respectful and enjoyable environment for everyone.</p>
        <p><strong>8. Follow Instructions</strong> 📝</p>
        <p>Follow any additional instructions or guidelines provided by the Dostana team. These guidelines are in place to ensure a smooth and positive user experience for everyone.</p>
        <p>By using Dostana, you agree to abide by these rules. Let's foster a supportive and engaging community where everyone feels welcome and respected! 🌟😊</p>
      </div>
    </div>
  </div>


  {% endblock %}