
.action-box {
    display: inline-block;
    text-align: center;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f5f5dc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.action-box a {
    display: block;
    text-decoration: none;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Reply Box Styles */
.reply-box {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f5f5dc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.reply-box a {
    text-decoration: none;
    color:white;
    margin-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
    background-color:#3498db;
}

.total-replies {
    display: inline-block;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 2px 5px;
     background-color:#3498db;
    color: white;
    margin-right: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.total-replies-text {
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color:#3498db;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Post Styles */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post {
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: #3498db;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-content {
    margin-top: 10px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-image img {
    max-width: 100%;
    height: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post + .post {
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

.post-reply {
    margin-top: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Reply Link Styles */
.reply-link {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}

/* Total Replies Styles */
.total-replies {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 3D effect */
}
